<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacultyHub</title>
    <link rel="stylesheet" href="../css/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!--  <script defer src="active.js"></script> -->
</head>

<body>
    {{>header}}

    <main>
        <h1>About Us</h1>

        <div class="about">
            <p>Welcome to Faculty Hub, your dedicated gateway to a worid ol educational insights
                and faculty expertise. At Faculty Hub, we're committed to simplifying the way users,
                especially students, access and engage with collge faculty details. Our platform is
                designed with a focus on user empowettent, offeting seamless navigation and a
                wealth of information at your fingertips.</p>
        </div>

        <h2>Our Mission</h2>
        <div class="mission">
            <p>Facuity Hub is on a mission to revolutlonize the way users connect with the
                academic community. Our goal is to provide a user-friendly, accessibie, and cost-
                effective solution that not only saves time but enhances the overall experionce of
                exploring faculty detais.</p>

        </div>
        <h3>Why Choose Faculty Hub</h3>

        <div class="choose">
            <p>
                • Intuitive Interface: Navigate through faculty detalis effortlessly with our user-frlendly graphicai
                interface.
            </p>
            <p>
                • Comprehensive information: Discover in-depth faculty profiles, Including names,departments, courses,
                areas of expertise, and professional interests.</p>
            <p>
                • Efficiency Matters: We value your time and resources. Faculty Hub is engineered to minimize both time
                and cost for users, ensuring a swift and economical approach to accessing faculty detais.
            </p>
        </div>
        <h4>Join the Faculty Hub Community</h4>
        <div class="join">
            <p>Embark on a fourney of educational exploration with Faculty Hub. Whether you're a student seeking
                knowledge or an administrator shaping educational experiences.we invite you to fjoin our community.
                Together, let's redefine the way we connect with academic expertise.Thank you for choosing Faculty Hub
                as your go-to destination for faculty information, Explore, learn, and connect with us!</p>
        </div>
    </main>

    {{>footer}}
</body>

</html>