<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacultyHub</title>
    <link rel="stylesheet" href="hf.css">
    <link rel="stylesheet" href="../css/sign_in.css">
</head>

<body>
    {{> header }}

    <main class="mup">
        <h2>Sign in</h2>
        <section id="sign_up" class="in">
            <form action="/signin" method="post">
                <div class="radio">
                    <p><input class="rb" type="radio" name="role" value="admin"> Admin</p>
                    <p><input class="rb" type="radio" name="role" value="faculty"> Faculty</p>
                </div>
                <label for="username">Email</label>
                <input class="ip" type="email" name="username" required>
                <label for="password">Password</label>
                <input class="ip" type="password" name="password" required>
                <div class="bt">
                    <button type="submit" value="Submit" id="green">Submit</button>
                    <button type="reset" value="reset" id="red">Reset</button>
                </div>
                <p class="p">
                    Don't have an account? <a href="/signup">sign up.</a>
                </p>
                <a href="/forgotlink" id="forgot">forgot password</a>
            </form>
            <img id="in" src="../../images/sign_in.png" alt="sign_up">
        </section>
    </main>

    {{>footer}}
</body>

</html>