<footer>
    <div class="left">
        <h2>Important Links</h2>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/university">University</a>
        <a href="/aboutus">About Us</a>
    </div>
    <div class="right">
        <h2>About the platform</h2>
        <p>This platform provides information of professional achievement and contact of faculties of multiple
            universities
            to help knowledge seekers and professionals to connect.</p>
    </div>
    </div>
</footer>