*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
  overflow-x: hidden;
}
/* header part*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    color: white;
    align-items: center;
    height: 8vh;
    padding-left: 7vh;
    padding-right: 5vh;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 3.5vh;
    border-bottom-right-radius: 3.5vh;
    font-family: sans-serif;
}
header a{
    color: white;
    font-size: 2vh;
    margin: 1vh;
    text-decoration: none;
}

header button{
    margin: 1vh;
}

nav{
  gap:2vh ;
  
}

nav > a {
  padding: 10px;
  
 
}

.logged{
  border-radius: 10px;
   border: solid 3px white;
  background-color: white;
  color: #000000;

}


/* footer part*/
footer{
    display: flex;
    margin-top: 2vh;
    padding-top: 1vh;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
}
.left a {
        display: block;
        padding: 1vh 4vh 2vh 2vh;
        text-decoration: none;
        text-decoration: underline;
        color: #ffffff; /* Link color */
        font-size: 20px;
      }
.right {
    position:static;
    text-align: left;
    width: 28vh;
    font-size: 20px;
}

.right h2{
    position: static;
    text-align: left;
}

/* main part */

.about{
    display: flex;
    margin: 2vw 10vw;
    padding:3vw 6vw;
    background: #0D1B2A;
    border: 1px solid #0D1B2A ;
    color: white;
    font-size: 1.2vw;
    border-radius: 3.5vw;
    font-family: sans-serif;
}
.choose{
    display: block;
    margin: 2vw 10vw;
    padding:3vw 6vw;
    background: #0D1B2A;
    border: 1px solid #0D1B2A ;
    color: white;
    font-size: 1.2vw;
    border-radius: 3.5vw;
    font-family: sans-serif;
}
.mission{
    display: flex;
    margin: 2vw 10vw;
    padding:3vw 6vw;
    background: #0D1B2A;
    border: 1px solid #0D1B2A ;
    color: white;
    font-size: 1.2vw;
    border-radius: 3.5vw;
    font-family: sans-serif;
}
.join{
    display: flex;
    margin: 2vw 10vw;
    padding:3vw 6vw;
    background: #0D1B2A;
    border: 1px solid #0D1B2A ;
    color: white;
    font-size: 1.2vw;
    border-radius: 3.5vw;
    font-family: sans-serif;
}
h1{ 
    margin-top: 2vw;
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;
}
h2{
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;
}
h4{
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;

    /* Search */
} form{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
form.example input[type=text] {
  padding: 11px 25px;
  font-size: 17px;
  background: #070505;
  border: 1px solid black;
  color: white;
  width: 30vw;
  border-bottom-left-radius: 2.5vw;
  border-top-left-radius: 2.5vw;
}

form.example button {
  width: 5vh;
  padding: 1vh;
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 17px;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

form.example button:hover {
  background: #060079;
} 
/* Responsive */
@media only screen and (max-width: 768px) {
    header {
        padding: 0.5em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

   
    .about{
        font-size: 3vw;
        border-radius: 6vw;
        font-family: sans-serif;
       
    }
    .mission{
        font-size: 3vw;
        border-radius: 6vw;
        font-family: sans-serif;
       
    }
    .choose{
        font-size: 3vw;
        border-radius: 6vw;
        font-family: sans-serif;
       
    }
    .join{
        font-size: 3vw;
        border-radius: 6vw;
        font-family: sans-serif;
       
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 5vw;
    }
    h4{
        font-size: 5vw;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}