* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/* header part*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
    color: white;
    align-items: center;
    height: 8vh;
    padding-left: 7vh;
    padding-right: 5vh;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 3.5vh;
    border-bottom-right-radius: 3.5vh;
    font-family: sans-serif;
}

header a {
    color: white;
    font-size: 2vh;
    margin: 1vh;
    text-decoration: none;
}

header button {
    margin: 1vh;
}

nav {
    gap: 2vh;

}

nav>a {
    padding: 10px;


}

.logged {
    border-radius: 10px;
    border: solid 3px white;
    background-color: white;
    color: #000000;

}


/* footer part*/
footer {
    display: flex;
    margin-top: 2vh;
    padding-top: 1vh;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
}

.left a {
    display: block;
    padding: 1vh 4vh 2vh 2vh;
    text-decoration: none;
    text-decoration: underline;
    color: #ffffff;
    /* Link color */
    font-size: 20px;
}

.right {
    position: static;
    text-align: left;
    width: 28vh;
    font-size: 20px;
}

.right h2 {
    position: static;
    text-align: left;
}

/* main part */

form {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

form.example input[type=text] {
    padding: 11px 25px;
    font-size: 17px;
    background: #070505;
    border: 1px solid black;
    color: white;
    width: 30vw;
    border-bottom-left-radius: 2.5vw;
    border-top-left-radius: 2.5vw;
}

form.example button {
    width: 5vh;
    padding: 1vh;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
}

form.example button:hover {
    background: #060079;
}

main h1 {
    text-align: center;
    margin: 15px;
    font-size: 3.5vh;
    font-family: sans-serif;
}


.wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    /*  padding-left: 123px; */

}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1vh;
    padding: 3vh;
    width: 140vh;
    position: relative;
    overflow: hidden;
    padding-left: 5vw;

}

.user-card-img {
    float: left;
    z-index: 3;
    box-shadow: 8px 8px 4px rgb(87, 105, 107);
    /* box-shadow: 2vh 0 3vh -1vh rgba(0, 0, 0, 0.8);  */
    border-radius: 1vw;
}

.user-card-img img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}

.user-card-info {
    text-align: center;
}

.user-card-info h2 {
    font-size: 3vh;
    font-family: sans-serif;
    padding-left: 0.7vw;

}

.user-card-info p {
    font-size: 2.5vh;
    padding-top: 1.5vh;
    font-family: sans-serif;
    padding-left: 0.7vw;

}

.user-card-info p span {
    font-weight: 500;
    margin-right: 10px;
}

@media only screen and (min-width: 600px) {
    .user-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .user-card-img {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .user-card-info {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding-top: 0.5%;

    }

    .user-card:before {
        width: 300%;
        height: 10vh;
        transform: rotate(0);
    }

    .user-card-info h2 {
        margin-top: 1vh;
        font-size: 3vh;
    }

    .user-card-info p span {
        display: block;
        margin-bottom: 1vh;
        font-size: 2.5vh;
    }
}

*/ .container {
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.tab_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;


}

.tab_box .tab_btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 2.5vh;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid white;
    color: #0D1B2A;
    background: none;
    border: #bab3b3 1.5px solid;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;

}

.tab_box .tab_btn.active {
    color: white;
    background-color: #0D1B2A;
    border-radius: 1vh;


}

.tab_box .tab_btn:hover {
    color: white;
    background-color: #0D1B2A;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.6);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    /* transform: translateY(2px);  */
    border-radius: 1vh;


}

.content_box {
    padding: 10px;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;

}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }

}

.content_box .content.active {
    display: block;
}

.content_box .content h2 {
    margin-bottom: 0.5vh;
}

.content {
    font-family: sans-serif;
    font-size: 2vh;
}

@media (max-width: 600px) {
    .tab_box {
        display: flex;
        flex-direction: column;
    }


}





.content_box .imgBx {

    justify-content: center;
    align-items: center;
    padding-right: 0.5vw;
    border-color: 1px solid black;
    transition: .3s linear;
}

.content_box .imgBx img {
    border: 1px solid black;
    border-radius: 1vw;

    width: 5vw;
    height: 5vw;
}

.content_box .details {
   
    width: 90%;
    height: 2vw;
    box-sizing: border-box;
}

.content_box .details h2{
    margin: 0;
    padding: 0;
    font-size: 1.4vw;
    line-height: 1em;
    color: #444;
    margin-bottom: 1vw;
}

.content_box .details h2 span {
    font-size: 0.8vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}


.content_box .details a img{
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 0.2vw;
    background-color: white;
    float: right;
    border: 1px solid black;
    margin-left: auto;
    margin-top: 0;
    display: flex;
}
.content_box .details a img:hover{
    color: rgb(187, 185, 199);
    background-color: rgb(253, 251, 251);
}
.content_box .content1 .In_card .button .btn{
   /*  padding-bottom: 1.6vw; */
   padding: 1vw;
    
    margin: 0.6vw;
    height: 1.7vw;
    width: 5vw; 
    font-size: 80%; 
    background:  #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    
}
.btn1 {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    font-size: 1.6vw; 
    cursor: pointer;
    float: right;
    border: 0.5px solid black;
    border-radius: 0.2vw;
    padding-right: 3px;
    padding-left: 3px;
   margin-top: -4vw;

  }


   .content_box .content1 .In_card{
    border: 1px solid black;
    display: inline-flex;
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 40%;
    height: 14vw;
    justify-content: center;

}
/* POPUP */

#myDIV {
    display: none;

}



/* responsive for internships */
@media (max-width:768px){
    .content_box .content{
        padding-left: 0;
    }
    .content_box .content1 .In_card{
        width: 92vw;
        height: 45vw;
        justify-content: center;
        margin:15px 0px;
    }
    .content_box .content1 .In_card .button .btn{
    margin: 2vw;
    padding: 0.1vw ; 
    float: left;
    height: 6vw;
    width: 15vw; 
    font-size: 3.7vw; 
    background:  #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    
    
    }
    .content_box .details h2{

        padding: 1vw;
        font-size: 5vw;
        color: #444;
    }
    
    .content_box .details h2 span {
        padding-top: 5vw;
        font-size: 4vw;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #999;
    }
    .content_box .imgBx img{
        margin-top: 0.7vw;
        margin-left: 1vw;
        width: 18vw;
        height: 18vw;
        
    }



    .content_box .details a img{
        width: 5vw;
        height: 5vw;
    }
    .btn1 .fa-trash{
        width: 1vw;
        height: 1vw;
        padding-right: 8vw;
    }
    .btn1{
        margin-top: -14vw;  
        margin-right: 1vw; 
        padding-left: 5.5px;
        width: 7vw;
        height: 8vw;
        font-size: 5vw;
    
    }
    #myDIV {
        .detail {
            margin-top: 10px; 
            padding: 3px; 
        }
    
        .detail button {
            font-size: 1vw; 
            padding: 0.2vw 1vw; 
        }
        #myDIV p{
            margin-bottom: 0;
        }
        

        }
        #myDIV p{
            margin-bottom: 0;

        }
}
#myDIV {
    
    display: none;
    text-align: left;
    background-color: white;

    padding: 1vw 1vw ;
  
  }
.detail{
    display: inline;
    margin-top: 0.8vw;
    padding: 0.8vw;


}
.detail button {
  cursor: pointer;
    border-radius: 5px;
    background-color: black;
    font-size: 10px; 
    color: #ffffff; 
    margin: 4px;
    padding: 0.4vw 1.4vw; 
}
.content .content1 .In_card p{
    margin-bottom: 0;
} 

.content .content1 .In_card .detail p{
    margin: 0.4vw;
} 