
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    height: 8vh;
    padding-left: 7vw;
    padding-right: 5vw;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  header a{
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  
  footer{
    display: flex;
    margin-top: 5vw;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
  }
  form{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  }
  form.example input[type=text] {
  padding: 11px 25px;
  font-size: 17px;
  background: #070505;
  border: 1px solid black;
  color: white;
  width: 30vw;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  }
  
  form.example button {
  width: 5vw;
  padding: 10px;
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 17px;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  }
  
  .left a {
        display: block;
        padding: 1vh 4vw 2vh 2vw;
        text-decoration: none;
        text-decoration: underline;
        color: #ffffff; /* Link color */
        font-size: 20px;
      }
  .right {
    position:static;
    text-align: left;
    width: 28vw;
    font-size: 20px;
  }
  
  
  
  .l{
    background-color: black;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  
  }
  .r{
    background-color: black;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .med{
    background-color: black;
    color: white;
    width: 40vw;
  }
  .c{
    display: flex;
    justify-content: center;
  }
  .mid_2{
    display: flex;
    justify-content: center;
  }
  .mid_inner{
    width: 20vw;
    height: 20vw;
  }
  button:hover {
    background: #060079;
    }