*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    height: 8vh;
    padding-left: 7vw;
    padding-right: 5vw;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
header a{
    color: white;
    font-size: 20px;
    margin: 10px;
}
h2{
    text-align: center;
    font-size: 30px;
    margin: 3vh;
}
#sign_up{
    display: flex;
    justify-content: space-around;
    background-color: rgb(13, 8, 52);
    color: white;
    margin:  5vw 1vh 5vw;
    border: 1px solid rgb(13, 8, 52);
    border-radius: 20px;
}
section{
    padding: 3vw;
}
img{
    height: 80vh;
    width: 45vw;
    border-radius: 20px;
}

form{
    width: 35vw;
    height: 80vh;
}
label{
    font-size: 20px;
    margin: 0.5vh;
}
input.ip{
    margin: 1.5vh;
    width: 30vw;
    height: 4vh;
    border-radius: 4px ;
    border:2px solid rgb(247, 247, 247);
    border-radius: 20px;
    padding-left: 0.8vw;
    font-size: 20px;
}
.radio{
    display: flex;
    font-size: 20px;
    margin: .5vh;
}
.radio p{
    padding: 0px 5vw 3vh 0px;
}
.p{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 9vw;
}
.bt{
    display: flex;
    justify-content: space-around;
    margin-left: 3vw;
}

button{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(13, 8, 52);
    border-radius: 20px;
}

footer{
    display: flex;
    margin-top: 5vw;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
}
.left a {
        display: block;
        padding: 1vh 4vw 2vh 2vw;
        text-decoration: none;
        text-decoration: underline;
        color: #ffffff; /* Link color */
        font-size: 20px;
      }
.right {
    position:static;
    text-align: left;
    width: 28vw;
    font-size: 20px;
}

.right h2{
    position: static;
    text-align: left;
}